* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

body {
  background: #EDF1F2;
  color: #334A58;
}

input[type=text]{
  height: 35px;
  padding: 3px 3px 3px 5px;
  border: 1px solid #DADADA;
  font-size: 20px;
  outline: none;
  box-shadow: inset 0px 1px 4px #ECECEC;
}

button {
  margin: 0;
  background-color: #fff;
  color: #4FC1E9;
  display: table-cell;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #4FC1E9;
  border-radius: 4px;
  transition: all 0.1s ease-out 0s;
}

/* search view */

#search-view {
  position: fixed;
  top: 20px;
  width:80%;
  margin: 0 0 0 -40%;
  left:50%;
  /* background-color:rgba(0, 0, 0, 0.5) */
}

#search-view input {
  width: 100%;
}

#search-results {
  padding: 0 0 0 0;
}

#search-results .result {
  margin-bottom: 5px;
  height: 60px;
  background-color: #fff;
  overflow: hidden;
  list-style: none;
  border-radius: 2px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.08);
  transition: transform 1s ease-out 0.5s;
}

#search-results img.poster {
  float: left;
  height: 60px;
}

#search-results .date {
  color: grey;
}

/* watchlist */

#container {
  width: 90%;
  margin-top: 100px;
}

#container li {
  margin-bottom: 10px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  list-style: none;
  border-radius: 2px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.08);
  transition: transform 1s ease-out 0.5s;
}

#container img {
  height: 200px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  pointer-events: none;
}

/* rating */

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: gold;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

/* animations */

.fade-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
